#{extends 'Secure/layout.html' /}
#{set title:'Login' /}

	<h3>Login</h3>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
		<table>
		<tr>
			<td>Email Address:</td>
			<td><input type="text" name="username" id="username" value="${flash.username}" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" id="password" value="" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
			<input type="submit" id="signin" value="&{'secure.signin'}" />
			</td>
		</tr>
	#{/form}
