<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>Exam ${exam.id}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
</head>
<body onload="window.print()">

<h3>Exam ${exam.id}</h3>

<br>

<p>Date: ${exam.getDate().format('dd MMM yy')}</p>

<br>

<p>Physician: <b>${exam.physician.getName()}</b><br>
Patient: <b>${exam.patient.getName()}</b></p>

<br>
<br>

<p>Patient details:<br>
<table>
	<tr>
		<td>Address:</td>
		<td>${exam.patient.getAddress()}</td>
	</tr>
	<tr>
		<td>Phone Number:</td>
		<td>${exam.patient.getPhoneNumber()}</td>
	</tr>
	<tr>
		<td>Sex:</td>
		<td>${exam.patient.getSex()}</td>
	</tr>
</table>
</p>


<br>
<br>

#{secure.check "physician"}
	<p>Physician Comments:<br>
	<pre>${exam.getPhysicianComments()}</pre>
	</p>
#{/secure.check}

<br>

<p>Patient Comments:<br>
<pre>${exam.getPatientComments()}</pre>
</p>

</body>
</html>