#{extends 'main.html' /}
#{set title:'View Exams' /}
	
#{form @PageController.results()}
    <p>
        <h3>Search By Physician</h3>
        <select name="physicianId" id="physicianId">
        #{list items:physicians, as:'physician'}
        	<option value="${physician.id}">${physician.getName()}</option>
        #{/list}
        </select>
    </p>
    <p>
        <input type="submit" value="Search" />
    </p>
#{/form}
<br><br>
#{form @PageController.results()}
    <p>
        <h3>Patient</h3>
        <select name="patientId" id="patientId">
        #{list items:patients, as:'patient'}
        	<option value="${patient.id}">${patient.getName()}</option>
        #{/list}
        </select>
    </p>
    <p>
        <input type="submit" value="Search" />
    </p>
#{/form}

<br><br>


#{form @PageController.results()}
    <p>
		<h3>Search by Date</h3>
	    <table>
	    <tr>
			<td>Start Date: </td>
			<td><input type="text" id="start" name="start" /></td>
		</tr>
		<tr>
			<td>End Date:</td>
			<td><input type="text" name="end" id="end" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
			  <input type="submit" value="Search" />
			</td>
		</tr>
		</table>
	</p>
#{/form}
			