#{extends 'main.html' /}
#{set title:'Search' /}
	
#{form @PageController.searchByPhysician()}
    <p>
        <label for="content">Physician: </label><br>
        <select name="physicianId" id="physicianId">
        #{list items:physicians, as:'physician'}
        	<option value="${physician.id}">${physician.getName()}</option>
        #{/list}
        </select>
    </p>
    <p>
        <input type="submit" value="Search by Physician" />
    </p>
#{/form}
<br><br>
#{form @PageController.searchByPatient()}
    <p>
        <label for="content">Patient: </label><br>
        <select name="patientId" id="patientId">
        #{list items:patients, as:'patient'}
        	<option value="${patient.id}">${patient.getName()}</option>
        #{/list}
        </select>
    </p>
    <p>
        <input type="submit" value="Search by Patient" />
    </p>
#{/form}

<p>
Date Search goes here
</p>