#{extends 'main.html' /}
#{set title:'Create Account' /}

<h3>Create Account</h3>

#{form @Dummy.newAccount()}
	<table border="0">
		<tr><td width="25">Email Address: </td><td><input type="text" size="25" name="email" id="email" /></td></tr>
		<tr><td width="25">Password: </td><td><input type="password" name="password" id="password" size="25" /></td></tr>
		<tr><td width="25">First Name: </td><td><input type="text" size="25" name="firstName" id="firstName /></td></tr>
		<tr><td width="25">Last Name: </td><td><input type="text" size="25" name="lastName" id="lastName" /></td></tr>
		<tr><td width="25">Address: </td><td><input type="text" size="25" name="address" id="address" /></td></tr>
		<tr><td width="25">Phone Number: </td><td><input type="text" size="25" name="phoneNumber" id="phoneNumber" /></td></tr>
		<tr><td width="25">Sex:</td><td>
			<select name="sex" id="sex">
				<option value="f">Female</option>
				<option value="m">Male</option>
				<option value="i">Intersex</option>
			</select>
		</td></tr>
		<tr><td width="25">Physician Only Code:</td><td><input type="text" size="25" name="code" id="code" /></td></tr>
	</table>
	<br>
	<input type="submit" value="Create" />
#{/form}