<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		<div class="title" align="center">
		<h1>Test System</h1>
		</div>
		<div class="navbar">
		<a href="@{Application.index()}">Home</a>&nbsp;&nbsp;
		<a href="search.html">Search</a>&nbsp;&nbsp;
		<a href="@{Secure.logout()}">Logout</a>
		</div>
		<hr>
        #{doLayout /}
		<br><br><br><br>
		<hr>
		<div class="footer" align="center">
		Copyright 2011
		</div>
    </body>
</html>
