<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Nonzero1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	missing in a maze

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>#{get 'title' /}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" title="Red" href="@{'/public/stylesheets/style_red.css'}" />
<link rel="alternate stylesheet" type="text/css" title="Blue" href="@{'/public/stylesheets/style_blue.css'}" />
<link rel="alternate stylesheet" type="text/css" title="Green" href="@{'/public/stylesheets/style_green.css'}" />
<link rel="alternate stylesheet" type="text/css" title="Brown" href="@{'/public/stylesheets/style_brown.css'}" />
<link rel="alternate stylesheet" type="text/css" title="Magenta" href="@{'/public/stylesheets/style_magenta.css'}" />
<script src="@{'/public/javascript/styleswitch.js'}" type="text/javascript">

/***********************************************
* Style Sheet Switcher v1.1- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>
</head>
<body>

<div id="header">

	<div id="header_inner" class="fixed">

		<div id="logo">
			<h1><span>Ultra</span></h1> <!-- --> 
			<h2>&nbsp;</h2>
		</div>
		
		<div id="menu">
			<ul>
				#{if !controllers.Security.isConnected() }
					<li><a href="@{PageController.welcome()}">Login</a></li> <!-- class="active -->
				#{/if}
				#{else}
					<li><a href="@{PageController.welcome()}">Home</a></li> <!-- class="active -->
					<li><a href="@{PageController.search()}">View Exams</a></li>
					#{secure.check 'physician'}
					<li><a href="#">Create Exam</a></li>
					#{/secure.check}
					<li><a href="@{Secure.logout()}">Logout</a></li>
				#{/else}
			</ul>
		</div>
		
	</div>
</div>

<div id="main">

	<div id="main_inner" class="fixed">

		<div id="primaryContent_columnless">
		
		<div id="columnA_columnless">
		
		
        #{doLayout /}

		</div>
		
		</div>
	
	</div>
	
<div id="footer" class="fixed">
		Copyright &copy; 2011<br>
		<font size="1">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></font>
</div>
	
</body>
</html>