<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Nonzero1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	missing in a maze

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>#{get 'title' /}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
<link rel="stylesheet" type="text/css" title="Blue" href="@{'/public/stylesheets/style_blue.css'}" />
<link rel="alternate stylesheet" type="text/css" title="Green" href="@{'/public/stylesheets/style_green.css'}" />
<link rel="alternate stylesheet" type="text/css" title="Red" href="@{'/public/stylesheets/style_red.css'}" />
<link rel="alternate stylesheet" type="text/css" title="Magenta" href="@{'/public/stylesheets/style_magenta.css'}" />
<script src="@{'/public/javascript/jquery-1.5.2.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascript/styleswitch.js'}" type="text/javascript">

/***********************************************
* Style Sheet Switcher v1.1- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for this script and 100s more
***********************************************/

</script>
<script type="text/javascript">
var ar_ext = ['avi', 'mpg', 'mpeg'];        // array with allowed extensions

function checkName(el, sbm) {
// - www.coursesweb.net
  // get the file name and split it to separe the extension
  var name = el.value;
  var ar_name = name.split('.');

  // for IE - separe dir paths (\) from name
  var ar_nm = ar_name[0].split('\\');
  for(var i=0; i<ar_nm.length; i++) var nm = ar_nm[i];

  // check the file extension
  var re = 0;
  for(var i=0; i<ar_ext.length; i++) {
    if(ar_ext[i] == ar_name[1]) {
      re = 1;
      break;
    }
  }

  // if re is 1, the extension is in the allowed list
  if(re==1) {
    // enable submit
    document.getElementById(sbm).disabled = false;
  }
  else {
    // delete the file name, disable Submit, Alert message
    el.value = '';
    document.getElementById(sbm).disabled = true;
    alert('".'+ ar_name[1]+ '" is not an file type allowed for upload');
  }
}

  $(document).ready(function() {
    $("#start").datepicker();
	$("#end").datepicker();
  });
</script>
</head>
<body>

<div id="header">

	<div id="header_inner" class="fixed">

		<div id="logo">
			<h1><span>Ultra</span></h1> <!-- --> 
			<h2>&nbsp;</h2>
		</div>
		
		<div id="menu">
			<ul>
				#{if !controllers.Security.isConnected() }
					<li><a href="@{PageController.welcome()}">Login</a></li> <!-- class="active -->
				#{/if}
				#{else}
					<li><a href="@{PageController.welcome()}">Home</a></li> <!-- class="active -->
					<li><a href="@{PageController.search()}">View Exams</a></li>
					#{secure.check 'physician'}
						<li><a href="@{PageController.createExamForm()}">Create Exam</a></li>
					#{/secure.check}
					<li><a href="@{Secure.logout()}">Logout</a></li>
				#{/else}
			</ul>
		</div>
		
	</div>
</div>

<div id="main">

	<div id="main_inner" class="fixed">

		<div id="primaryContent_columnless">
		
		<div id="columnA_columnless">
		
		
        #{doLayout /}

		</div>
		
		</div>
	
	</div>
	
<div id="footer" class="fixed">
		Copyright &copy; 2011<br>
		<font size="1">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></font>
</div>
	
</body>
</html>